#header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  top: 0;
  right: 0;

  > * {
    flex: 0 0 50px;
  }

  @media (min-width: $breakpoint-lg) {
    width: calc(100% - var(--navbar-width-min));
    display: none;
  }
}
