#nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: var(--navbar-width);
  transition: var(--nav-transition);

  @media (min-width: $breakpoint-lg) {
    z-index: 50;
    transform: none;
  }
}
