#page {
  @extend .scroll-y;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding-top: var(--header-height);
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: var(--nav-transition);
  z-index: 10;
  background-color: var(--bg-color);

  @media (min-width: $breakpoint-lg) {
    padding-left: var(--navbar-width-min);
  }
}
