#nav {
  &.open {
    & ~ #page {
      transform: translateX(var(--navbar-width));
    }
  }

  @media (min-width: $breakpoint-lg) {
    &:not(.open) {
      transform: translateX(calc(-100% + var(--navbar-width-min)));
    }

    &.open {
      & ~ #page {
        transform: none;
      }
    }
  }
}
