#nav {
  &.closed {
    transform: translateX(calc(-100% + var(--navbar-width-min)));
  }

  @media (max-width: $breakpoint-lg) {
    &.closed {
      transform: none;
    }

    & ~ #page,
    & ~ #topbar {
      transform: translateX(var(--navbar-width));
    }

    &:not(.visible) {
      & ~ #page,
      & ~ #topbar {
        transform: none;
      }
    }
  }
}
